<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLibs Madness!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
  <div class = "container">
    <h1>Fill out the forms below to complete the MadLib!</h1>
    <form action="/MadLibs" method="post">
    <label for="maleName">Male Name</label>
    <input id="maleName" name="maleName" type="text">
    <label for="teacherName">Teacher Name</label>
    <input id="teacherName" name="teacherName" type="text">
    <label for="exclamation">Exclamation</label>
    <input id="exclamation" name="exclamation" type="text">
    <label for="number">Number</label>
    <input id="number" name="number" type="text">
    <label for="pluralObject">Plural Object</label>
    <input id="pluralObject" name="pluralObject" type="text">
    <label for="storeName">Store Name</label>
    <input id="storeName" name="storeName" type="text">
    <label for="bodyPart">Body Part</label>
    <input id="bodyPart" name="bodyPart" type="text">
    <label for="sillyWord">Silly Word</label>
    <input id="sillyWord" name="sillyWord" type="text">
    <label for="holidayName">Name of a holiday</label>
    <input id="holidayName" name="holidayName" type="text">
    <label for="movieTitle">Movie Title</label>
    <input id="movieTitle" name="movieTitle" type="text">
    <label for="verbWithIng">Verb Ending in -ing</label>
    <input id="verbWithIng" name="verbWithIng" type="text">
    <label for="amoutOfDistance">Amount of Distance</label>
    <input id="amoutOfDistance" name="amoutOfDistance" type="text">
    <label for="country">Country</label>
    <input id="country" name="country" type="text">
    <label for="animal">Animal</label>
    <input id="animal" name="animal" type="text">
    <label for="famousMovieQuote">Famous Movie Quote</label>
    <input id="famousMovieQuote" name="famousMovieQuote" type="text">
    <label for="anotherBodyPart">Another Body Part</label>
    <input id="anotherBodyPart" name="anotherBodyPart" type="text">
    <label for="childrenSong">Children Song</label>
    <input id="childrenSong" name="childrenSong" type="text">
    <label for="adjective">Adjective</label>
    <input id="adjective" name="adjective" type="text">
    <button type="submit">Go!</button>
    </form>
  </div>

  </body>
</html>